<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TheSpaceman.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2C39C84BA32DBB2773346BCB42C16ED0EF0697B4</string>
				<key>dateExpires</key>
				<string>27/07/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C39C84BA32DBB2773346BCB42C16ED0EF0697B4</string>
						<key>dateExpires</key>
						<string>27/07/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UnityFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>59484UB4B2</string>
						<key>name</key>
						<string>Trung Duong Le Phuoc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>59484UB4B2.com.trungkenbi.thespaceman</string>
				<key>com.apple.developer.team-identifier</key>
				<string>59484UB4B2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TheSpaceman.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>440010f7-1c95-4f16-8c7c-589b0e5a8a8b</string>
				<key>dateExpires</key>
				<string>27/07/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.trungkenbi.thespaceman</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>59484UB4B2</string>
				<key>name</key>
				<string>Trung Duong Le Phuoc</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.58</string>
		</dict>
	</array>
</dict>
</plist>
